* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* cores */
  --brand-color: #ef5f4c;

  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff91;

  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  /* fontes */
  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/170% var(--font-family);
  --text: 16px/150% var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-family: var(--font-family);
  color: var(--text-color-primary);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color);
  text-decoration: underline;
}

.container {
  padding-inline: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

.bg-surface-color {
  background-color: var(--surface-color);
}

.desktop-only {
  display: block;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.align-center {
  align-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-2 {
  gap: 2rem;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.gap-block-0\.25 {
  gap: 0.25rem;
}

.gap-block-0\.5 {
  gap: 0.5rem;
}

@media (width <= 768px) {
  .desktop-only {
    display: none;
  }

  .container {
    max-width: 360px;
    padding-inline: 1rem;
  }
}
